body {

    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', 'serif';
    color: #40514E;

}

.top-container {
    background-color: #FBF2CF;
    color: #FA7070;
    margin-top: 0px;
    position: relative;
    padding-top: 100px;
}





h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', 'cursive';
    font-size: 5.625rem;
    color: #FA7070;
}

h2 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 2.5rem;
    font-weight: normal;
    color: #FA7070;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', 'sans-serif';
    color: #A1C298;

}

a {
    color: #A1C298;
    text-decoration: none;
    margin: 30px;
}

a:hover {
    color: #FBF2CF;
}

hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: #A1C298;
    border-width: 5px;
    width: 4%;
    margin: 100px auto;
}

p {
    line-height: 2;
}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    top: 400px;
}


.myIMG {

    width: 300px;
    height: 250px;
    border-radius: 50%;
}

.middle-container {
    margin: 100px 0;
}

.my-description {
    width: 30%;
    margin: auto;
}

span {
    text-decoration: underline;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.coding {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.painting {
    width: 30%;
    float: right;
    margin-left: 30px;
}

.bottom-container {

    padding: 30px 30px 20px;
    background-color: #FA7070;
}

.copyright {
    color: #FBF2CF;
    font-size: 0.75rem;
    padding-top: 10px;
}


.btn {
    background: #FA7070;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Roboto;

    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: all 0.25s;
}

.btn:hover {
    color: #FA7070;
    background-color: rgb(132, 131, 131);
    text-decoration: none;
}

.contact-msg {
    width: 40%;
    margin: 40px auto;
}